<link rel="stylesheet" type="text/css" href="./styles/coruscant.css">
<div class="page">
    <img class="img" src="views/img/Coruscant-Gallery-1_d654d3d0.jpeg">
<div class="planetinfo" class="planet">
    <ul>
        <h2>{{planets[8].name}}</h2>
        <br>
        Rotation: {{planets[8].rotation_period}}<br>
        Orbital period: {{planets[8].orbital_period}}<br>
        Diamter: {{planets[8].diameter}}<br>
        Climate: {{planets[8].climate}}<br>
        Gravity: {{planets[8].gravity}}<br>
        Terrain: {{planets[8].terrain}}<br>
        Population: {{planets[8].population}}<br>
        Temp: {{coruw.main.temp}}K<br>
        Humidity: {{coruw.main.humidity}}<br>
        Pressure: {{coruw.main.pressure}}
    </ul>

  </div>
</div>
