<link rel="stylesheet" type="text/css" href="./styles/courescant.css">
<link rel="stylesheet" type="text/css" href="./styles/style.css">
<div class="page"> <img src="views/img/Coruscant-Gallery-1_d654d3d0.jpeg">
<div class="container">

<div class="planet">
    <ul>
        name: {{courescant.name}}<br>
        rotation: {{courescant.rotation_period}}<br>
        orbital period: {{courescant.orbital_period}}<br>
        diamter: {{courescant.diameter}}<br>
        climate: {{courescant.climate}}<br>
        gravity: {{courescant.gravity}}<br>
        terrain: {{courescant.terrain}}<br>
        population: {{courescant.population}}<br>

    </ul>
        Weather at Senate Building
  </div>
</div>
</div>
