<link rel="stylesheet" type="text/css" href="./styles/Dagobah.css">

<div class="page">
  <img class="img" src="views/img/Yoda.jpg">
<div class="planetinfo">
  <ul>
  <h3>{{Dagobah.name}}</h3><br>
  rotation: {{Dagobah.rotation_period}}<br>
  orbital period: {{Dagobah.orbital_period}}<br>
  diamter: {{Dagobah.diameter}}<br>
  climate: {{Dagobah.climate}}<br>
  gravity: {{Dagobah.gravity}}<br>
  terrain: {{Dagobah.terrain}}<br>
  population: {{Dagobah.population}}<br>
  Weather at Yodas hut
</ul>

  </div>
</div>
