<link rel="stylesheet" type="text/css" href="./styles/Dagobaa.css">
<link rel="stylesheet" type="text/css" href="./styles/style.css">
<div class="page"> <img src="views/img/Yoda.jpg">
<div class="container">

<div class="planet">
  <ul>
  name: {{Dagobah.name}}<br>
  rotation: {{Dagobah.rotation_period}}<br>
  orbital period: {{Dagobah.orbital_period}}<br>
  diamter: {{Dagobah.diameter}}<br>
  climate: {{Dagobah.climate}}<br>
  gravity: {{Dagobah.gravity}}<br>
  terrain: {{Dagobah.terrain}}<br>
  population: {{Dagobah.population}}<br>
</ul>
  Weather at Yodas hut
</div>




</div>
</div>
