<link rel="stylesheet" type="text/css" href="./styles/Dagobah.css">

<div class="page">
  <img class="img" src="views/img/dagobah-002.jpg">
<div class="planetinfo">
  <ul>
  <h3>{{Dagobah.name}}</h3><br>
  Rotation: {{Dagobah.rotation_period}}<br>
  Orbital period: {{Dagobah.orbital_period}}<br>
  Diamter: {{Dagobah.diameter}}<br>
  Climate: {{Dagobah.climate}}<br>
  Gravity: {{Dagobah.gravity}}<br>
  Terrain: {{Dagobah.terrain}}<br>
  Population: {{Dagobah.population}}<br>
  Temp: {{dagow.main.temp}}K<br>
  Humidity: {{dagow.main.humidity}}<br>
  Pressure: {{dagow.main.pressure}}
</ul>
  </div>
</div>
