<link rel="stylesheet" type="text/css" href="./styles/Hoth.css">
<div class="page">
<img class="img" src="views/img/hothwalker.jpg">
<div class="planetinfo">

  <ul>
    <h2>{{hoth.name}}</h2><br>
    Rotation: {{hoth.rotation_period}}<br>
    Orbital period: {{hoth.orbital_period}}<br>
    Diamter: {{hoth.diameter}}<br>
    Climate: {{hoth.climate}}<br>
    Gravity: {{hoth.gravity}}<br>
    Terrain: {{hoth.terrain}}<br>
    Population: {{hoth.population}}<br>
    Temp: {{hothw.main.temp}}K<br>
    Humidity: {{hothw.main.humidity}}<br>
    Pressure: {{hothw.main.pressure}}
  </ul>

</div>

</div>
