<link rel="stylesheet" type="text/css" href="./styles/Hoth.css">
<link rel="stylesheet" type="text/css" href="./styles/style.css">
<div class="page">

<div class="container">

  <ul>
    name: {{hoth.name}}<br>
    rotation: {{hoth.rotation_period}}<br>
    orbital period: {{hoth.orbital_period}}<br>
    diamter: {{hoth.diameter}}<br>
    climate: {{hoth.climate}}<br>
    gravity: {{hoth.gravity}}<br>
    terrain: {{hoth.terrain}}<br>
    population: {{hoth.population}}<br>
  </ul>

</div>

</div>
