

<div class="site">
  <img class="imperial" src="views/img/imperial.jpg">

<div class="planets">

<div class="planet">
      <h1>{{moreplanets[9].name}}</h1>
    <img class="tatooine" src="views/img/rendition1.img.jpg" style="height: 300px; width: 100%;">
</div>
<div class="planet">
      <h1>{{planets[2].name}}</h1>
    <img class="hoth" src="views/img/thumb-1920-641852.jpg" style="height: 300px; width: 100%;">
</div>
<div class="planet"/>
      <h1>{{planets[3].name}}</h1>
    <img class="Dagobah" src="views/img/Dagobah.jpg" style="height: 300px; width: 100%;">
  </div>
<div class="planet">
    <h1>{{mustafar[1].name}}</h1>
  <img class="Dagobah" src="views/img/mustafar-1_a5fa270f.jpeg" style="height: 300px; width: 100%;">
  </div>
<div class="planet">
    <h1>{{planets[7].name}}</h1>
  <img class="Coruscant" src="views/img/Coruscant_at_night.jpg" style="height: 300px; width: 100%;">
  </div>
<!-- <div class="W">
  Weather
{{weather}}
</div> -->

  </div>

  </div>

</div>
