<link rel="stylesheet" type="text/css" href="./styles/Dagobaa.css">
<link rel="stylesheet" type="text/css" href="./styles/style.css">
<div class="page"> <img src="views/img/mustafar-bio-6_5be5892e.jpeg">
<div class="container">

<div class="planet">
  <ul>
  name: {{Mustafar.name}}<br>
  rotation: {{Mustafar.rotation_period}}<br>
  orbital period: {{Mustafar.orbital_period}}<br>
  diamter: {{Mustafar.diameter}}<br>
  climate: {{Mustafar.climate}}<br>
  gravity: {{Mustafar.gravity}}<br>
  terrain: {{Dagobah.terrain}}<br>
  population: {{Mustafar.population}}<br>
</ul>
  Weather at minning facility
</div>




</div>
</div>
