<link rel="stylesheet" type="text/css" href="./styles/mustafar.css">

<div class="page">
  <img class="img" src="views/img/Lava_Rivers.png">
<div class="planetinfo">
  <ul>
  <h2>{{mustafar.name}}</h2><br>
  Rotation: {{mustafar.rotation_period}}<br>
  Orbital period: {{mustafar.orbital_period}}<br>
  Diamter: {{mustafar.diameter}}<br>
  Climate: {{mustafar.climate}}<br>
  Gravity: {{mustafar.gravity}}<br>
  Terrain: {{mustafar.terrain}}<br>
  Population: {{mustafar.population}}<br>
  Temp: {{mustw.main.temp}}K<br>
  Humidity: {{mustw.main.humidity}}<br>
  Pressure: {{mustw.main.pressure}}
</ul>

</div>




</div>
