<link rel="stylesheet" type="text/css" href="./styles/mustafar.css">

<div class="page">
  <img class="img" src="views/img/mustafar-bio-6_5be5892e.jpeg">
<div class="planetinfo">
  <ul>
  name: {{Mustafar.name}}<br>
  rotation: {{Mustafar.rotation_period}}<br>
  orbital period: {{Mustafar.orbital_period}}<br>
  diamter: {{Mustafar.diameter}}<br>
  climate: {{Mustafar.climate}}<br>
  gravity: {{Mustafar.gravity}}<br>
  terrain: {{Musafar.terrain}}<br>
  population: {{Mustafar.population}}<br>
  Weather at mining facility
</ul>

</div>




</div>
