<link rel="stylesheet" type="text/css" href="./styles/Tatooine.css">
<div class="page">
<div class="planet">
    <ul>
        name: {{tatooine.name}}<br>
        rotation: {{tatooine.rotation_period}}<br>
        orbital period: {{tatooine.orbital_period}}<br>
        diamter: {{tatooine.diameter}}<br>
        climate: {{tatooine.climate}}<br>
        gravity: {{tatooine.gravity}}<br>
        terrain: {{tatooine.terrain}}<br>
        population: {{tatooine.population}}<br>

    </ul>
        WEATHER AT REBEL BASE
  </div>

</div>
