<link rel="stylesheet" type="text/css" href="./styles/Tatooine.css">
<div class="page">
  <img class="img" src="views/img/rendition1.img.jpg">
<div class="planetinfo">
    <ul>
        <h2>{{tatooine.name}}</h2><br>
        Rotation: {{tatooine.rotation_period}}<br>
        Orbital period: {{tatooine.orbital_period}}<br>
        Diamter: {{tatooine.diameter}}<br>
        Climate: {{tatooine.climate}}<br>
        Gravity: {{tatooine.gravity}}<br>
        Terrain: {{tatooine.terrain}}<br>
        Population: {{tatooine.population}}<br>
        Temp: {{tatw.main.temp}}K<br>
        Humidity: {{tatw.main.humidity}}<br>
        Pressure: {{tatw.main.pressure}}
  </ul>

  </div>
</div>
