<link rel="stylesheet" type="text/css" href="./styles/Tatooine.css">
<div class="page">
  <img class="img" src="views/img/rendition1.img.jpg">
<div class="planetinfo">
    <ul>
        <h2>{{tatooine.name}}</h2><br>
        rotation: {{tatooine.rotation_period}}<br>
        orbital period: {{tatooine.orbital_period}}<br>
        diamter: {{tatooine.diameter}}<br>
        climate: {{tatooine.climate}}<br>
        gravity: {{tatooine.gravity}}<br>
        terrain: {{tatooine.terrain}}<br>
        population: {{tatooine.population}}<br>
        WEATHER AT REBEL BASE
  </ul>

  </div>
</div>
