
.img {
  position: absolute;
  z-index: -1;
}

.planetinfo {
  position: absolute;
  background-color: grey;
  margin: auto;
  z-index: 1;
  height: 400px;
  width: 400px;
  background-image: linear-gradient( to right, grey, black );
  border-radius: 20px;
  top: 200px;
  left: 200px;
  color: white;
  padding: 10px;
  font-family: arial;
  font-size: 20px;
  box-shadow: 15px 15px 15px 0px;
}
