
.img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.planetinfo {
  position: absolute;
  background-color: grey;
  margin: auto;
  z-index: 1;
  height: 400px;
  width: 400px;
  background-image: linear-gradient( to right, black, green );
  border-radius: 20px;
  top: 200px;
  left: 200px;
  color: white;
  padding: 10px;
  font-family: arial;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  box-shadow: 15px 15px 15px #654321;
  -webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
animation: mymove 3s;
}

@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}
