html {
box-sizing: border-box;
width: 100%;
}
body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
}

h1 {
  position: absolute;
  width: auto;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  font-family: arial;
  border: 1px solid white;
  left: 100px;
  -webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
animation: mymove 3s;
}
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 100px;}
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 100px;}
}


.top {
  position: relative;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.top a {
  width: 15%;
  height: 15%;
  margin: 1%;
}
.icons {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  top: 250px;
  margin: 10px;
  flex-wrap: wrap;
  border-radius: 15px;
  justify-content: center;
  opacity: .3;
  animation: moveup 3s;
}
@-webkit-keyframes moveup {
    from {top: 0px;}
    to {top: 200px;}
}
@keyframes moveup {
    from {top: 0px;}
    to {top: 200px;}
}
.icons:hover {
  opacity: 1;
}

@media (min-width: 1500px) {
  .icons {
      position: relative;
      display: flex;
      height: 250px;
      width: 250px;
      top: 200px;
      margin: 10px;
      flex-wrap: wrap;
      border-radius: 15px;
      justify-content: center;
      opacity: .3;
    }
    .icons:hover {
      opacity: 1;
    }
  }
}

.icons:hover {
  opacity: 1;
}
.icons h2
 {
  color: white;
  position: absolute;
  display: flex;
  margin: 0;
  top: 43%;
  font-family: arial;
}


.iconimg {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.imperial {
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 5px solid teal;
  margin-bottom: 0px;
}

@media (max-width: 1100px) {
  .imperial {
    display: none;
  }
  .top {display: none}
}

.siteHeader{
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: black;
  z-index: 1;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #3273c5;
  font-family: arial;
  letter-spacing: 2px;
}
a:link {
  text-decoration: none;
}
.homeButton a {
  text-decoration: none;
  height: auto;
  width: auto;
  font-size: 30px;
  color: white;
}

.homeButton a:hover {
  color: purple;
}

a:visited { text-decoration: none; }

.navbar {
  position: absolute;
  bottom: 0;
}
.navbar .items {
  text-decoration: none;
  background-color: inherit;
  z-index: 1;
  padding: 0;
  color: white;
  border-top: 1px white solid;
}
@media (max-width: 550px) {
  .navbar {
    display: none;
  }
}

#tato:hover {
  color: #FF5E00;
}

#dago:hover {
  color: green;
}

#must:hover {
  color: red;
}

#coru:hover {
  color: gold;
}

#hoth:hover {
  color: skyblue;
}
@media (max-width: 1000px) {
  .navbar{
    font-size: 10px;
  }

}

.site {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.planets {
  display: inherit;
  width: 100%;
  margin-top: 5px;
}


.planet {
  height: 300px;
  width: 100%;
  position: relative;
  border-bottom: 2px solid red;
}

.planet:hover {
  opacity: .5;
}

@media (max-width: 1100px) {
  .planets {
    margin-top: 102px;
  }
}
