html {
box-sizing: border-box;
width: 100%;
}
body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.imperial {
  height: 600px;
  width: 100%;
}

.siteHeader{
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: black;
}
a:link {
  text-decoration: none;
}
.homeButton {
  text-decoration: none;
}
.navbar {
  float: right;
  background-color: white;
}
.navbar .items {
  text-decoration: none;
  background-color: inherit;
  z-index: 1;

}

.site {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.planets {
  width: 100%;
}
.planet {
  height: 300px;
  width: 100%;
  position: relative;
}
